name: Python Test

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'
          cache: 'pip'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Test with pytest
        run: |
          python -m unittest discover -s ./tests  -p 'Test*.py'

      - name: Run tests with coverage
        run: |
            coverage run -m unittest discover -s ./tests  -p 'Test*.py'
            coverage xml -o .qodana/code-coverage/coverage.xml

      - name: Archive coverage data
        uses: actions/upload-artifact@v4
        with:
          name: py-coverage-data
          path: .qodana/code-coverage
