name: Python Test

on: [push]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
          cache: 'pip'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Run tests with pytest
        env:
          API_TEST_USER: ${{ secrets.API_TEST_USER }}
          API_TEST_PASS: ${{ secrets.API_TEST_PASS }}
        run: |
          pytest ./tests/*.py
